:root{
  --page: #313131;
  --primary: #795AFF;
  --dark: #151515;
}

a{
  /* FIXME I added this in after class for a link at the bottom of the page */
  color: white;
}

body{
  background-color: var(--page);
  font-family: Arial, Helvetica, sans-serif;
}

.font-jolly{
font-family: 'Jolly Lodger', 'Arial';
}

.font-mono{
font-family: 'IBM Plex Mono';
}

.text-croc-primary{
  color: var(--primary);
}

.bg-hero{
  height: 40vh;
  background-image: url(crocdrop.png);
  background-size: cover;
  background-position: bottom;
}

/* NOTE when making alternate styles for screen sizes should set up for mobile first */
.magic-card{
  display: none;

  /* the rest here stays the same, since it isn't changed in our media rule */
  bottom: -100px;
  position: absolute;
  /* the position absolute breaks the card out of the flow of HTML and attaches it to the next containing block (the col has position-relative on in it the HTML) while the -100px moves id down below the row */
  width: 100%;
  border-radius: 12px;
  background: rgba(29, 29, 29, 0.60);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(21.700000762939453px);
  transition: background-color .2s ease;
}

.magic-offset{
  margin-bottom: 0px;
}

/* REVIEW this is where our medium screen exceptions apply */
@media (min-width: 768px){
  .magic-card{
    display: block;
  }
  .magic-offset{
    margin-bottom: 100px;
    /* since our card is 100px below the row (bottom -100px in .magic-card), this offset margin bottom makes sure nothing else gets rendered in that spot */
  }
}

.magic-card:hover{
  background-color: rgba(0, 0, 0, 0.798);
  backdrop-filter: blur(50px);
}

.magic-col{
  height: 50%;
  /* NOTE position relative will create a new CONTAINING BLOCK but keep the elements original flow */
  position: relative;
}
/* this magic-col class ended up going un-used and we used boostrap utility classes instead */

.bg-croc-primary{
  color: whitesmoke;
  background-color: var(--primary);
}

.bg-purple{
  background-color: var(--primary);
}

/* NOTE :hover is just a state for that element */
.bg-croc-primary:hover{
  background-color: #b5a4ff;
  box-shadow: 0px 0px 20px 3px #795AFF, inset 0px 0px 10px 5px #795AFF;
}

.shop-card{
  background-color: var(--dark);
  margin-bottom: 1.5em;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.812);
}

.shop-filter{
  background-color: var(--dark);
  top: 65px
}
.shop-filter input{
  accent-color: var(--primary);
}